h1 {
	margin-top:25px;
}

h1,h2,h3 {
	letter-spacing:0.03em;
}

h1:first-child {
	margin-top:0px;
}

label, p {
	line-height:25px;
	font-size:16px;
	letter-spacing:0.06em;
}

footer {
	color: #333333;
	padding:15px;
}

input, table {
	font-size:14px;
}



/* All Class rules here
===================================== */
.avatar {
	margin-top:8px;
	margin-left:20px;
}

.bs-callout-danger {
	background-color:#fdf7f7;
	border-color: #eed3d7;
}

.bs-callout-danger h4 {
	color:#b94a48;
	line-height:30px;
}

.bs-callout-warning {
	background-color:#faf8f0;
	border-color: #faebcc;
}

.bs-callout-warning h4 {
	color: #8a6d3b;
	line-height:30px;
}

.bs-callout-success {
	background-color:#dff0d8;
	border-color:#d6e9c6;
}

.bs-callout-success h4 {
	color:#468847;
	line-height:30px;
}

.bs-callout-info {
	background-color:#f4f8fa;
	border-color:#bce8f1;
}

.bs-callout-info h4 {
	color:#34789a;
}

.container {
	min-height:450px;
	margin-top:100px;
}

.delete-btn {
	padding-right:20px;
}

.display-none{
	display:none;
}

.error {
	color: red;
	font-size:12px;
}

.feed-display, .profile-display, 
.feed-network-display, .feed-profile-display,
.feed-danger-display {
	margin-bottom:20px;
	padding-bottom:10px;	
}

.feed-danger-display h4{
	margin-top:0px;
	color:#333;
	padding:10px;
	background-color:#FFE6E6;
}

.feed-network-display h4{
	margin-top:0px;
	color:#333;
	padding:10px;
	background-color:#F5F0EB;
}

.feed-profile-display h4 {
	margin-top:0px;
	color:#333;
	padding:10px;
	background-color:#F5FAE6;
}

.feed-display h4{
	margin-top:0px;
	color:#333;
	padding:10px;
	background-color:#E6FAFF;
}

.feed-display p, .feed-display time {
	padding:0;
}

.follow-width {
	width:50%;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
	color: #999;
}

span.url-print{
	color:#999;
	font-size:13px;	
	font-weight:normal;
}

.warning {
	font-size:14px;
}


/* Boot strap class overWritten Rules
========================================== */
body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
	margin-right:0 !important;
}
